Gemfile.lock
.vagrant/
**/*.swp
data/config
data/layout
spec/data/layout/temp.json
spec/data/config/default.json
logs
spec/data/layout/foo.json
screenshots
spec/data/layout/default.json
spec/data/config/Default.json
spec/data/config/temp.json
spec/data/config
Berksfile.lock
