<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/jquery.gridster.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/knockout-3.3.0.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/dashboard.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/dashboard-widge-loader.js" type="text/javascript" charset="utf-8"></script>
    <link href="/images/ju138.png" rel="icon" type="image/x-icon"/>
    <link href="/css/pure-min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/jquery.gridster.css" rel="stylesheet" type="text/css"/>
    <link href="/css/site.css" rel="stylesheet" type="text/css"/>
</head
<body>
    <div id="main-container">
       <%= yield%>
    </div>
</body>
</html>
