<!DOCTYPE HTML>
<html>
<head>
    <title>Dashboard</title>
    <script src="/js/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/jquery.gridster.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/knockout-3.3.0.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/dashboard-widge-loader.js" type="text/javascript" charset="utf-8"></script>
    <link href="/css/jquery.gridster.css" rel="stylesheet" type="text/css"/>
    <link href="/css/site.css" rel="stylesheet" type="text/css"/>
</head
<body>
    <div id="main-container">
       <%= yield%>
    </div>
</body>
</html>
