.page-title {
  text-align: center
}

.gridster ul li {
  border: 2px solid hsla(0, 0%, 0%, 0.5);
  padding: 2px;
  margin: 2px;
}

.gridster ul {
  list-style-type: none;
}

.dashboard-widge.error {
  background-color: #eeeeee;
}

.dashboard-widge .error-message {
  color: #222222;
  text-align: center;
  margin-top: 5px;
}

.widge-title {
  text-align: center;
  color: white;
  font-size: 20px;
  background-color: red;
}
