body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
}
h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
    padding: 0.5em;
    text-align: left;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    background: #2d3e50;
}
.pure-menu.pure-menu-fixed {
    border-bottom: none;
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.heading {
   display: inline-block;
   vertical-align: middle;
}

.heading-title {
   color: white;
   font-weight: 600;
   font-size: 150%;
}

.home-menu a {
    color: #6FBEF3;
}
.home-menu a:hover,
.home-menu a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}
.content-wrapper {
    position: absolute;
    top: 70px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: white;

}
/*
/*******/

.page-title {
  text-align: center
}
.header-links {
  text-align: center
}

.gridster ul li {
  border: 2px solid hsla(0, 0%, 0%, 0.5);
  padding: 2px;
  margin: 2px;
}

.gridster ul {
  list-style-type: none;
}

.dashboard-widget-content {
  position: relative;
}

.widget-edit-link {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
}

.widget-edit-icon {
  width: 16px;
  height: 16px;
}

.dashboard-widget-content:hover .widget-edit-link {
 display: block;
}

.dashboard-widget.error {
  background-color: #eeeeee;
}

.dashboard-widget .error-message {
  color: #aaaaaa;
  text-align: center;
  margin-top: 5px;
}

.widget-title {
  color: #aaaaaa;
  text-align: center;
  font-size: 120%;
}
.vertical-align-block {
  color: black;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.ellipseis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.passed {
  background-color: green;
}
.failed {
  background-color: red;
}

/* ref: http://red-team-design.com/stylish-css3-progress-bars/  */
.scheduled, .started, .building {
  position: relative;
  height: 100%;
  border-radius: 3px;
  transition: width .4s ease-in-out; 
  background-color: #fecf23;
  background-image: linear-gradient(top, #fecf23, #fd9215);
  background-size: 30px 30px;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                        transparent 75%, transparent);            
  animation: animate-stripes 3s linear infinite;
}

@keyframes animate-stripes {
  0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

.started::after, .building::after {
    content: '';
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    border-radius: 3px;
    animation: animate-shine 2s ease-out infinite;             
}

@keyframes animate-shine {
    0% {opacity: 0; width: 0;}
    50% {opacity: .5;}
    100% {opacity: 0; width: 95%;}
}

.glow {
    box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;    
    animation: animate-glow 1s ease-out infinite;          
}

@keyframes animate-glow {
 0% { box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;} 
 50% { box-shadow: 0 5px 5px rgba(255, 255, 255, .3) inset, 0 -5px 5px rgba(255, 255, 255, .3) inset;} 
 100% { box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;}
 }

.new-board, .new-widget {
  margin-left: 1em;
}

.menus {
  display: inline-block;
  width: 85%;
  vertical-align: middle;
}

.board-list {
  margin-left: 2em;
  float: left;
}

.right-header-menu {
  float: right;
}

.current-board-link {
  font-size: 135%;
  font-weight: 400;
}

.other-board-link, .child-widget-link {
  background-color: #2d3e50;
  padding-left: 3em;
}

.pure-menu-children li a:hover,
.pure-menu-children li a:focus {
    background: #555555;
}

.flash {
  margin-left: 1em;
}

.error-message {
  color: red;  
}

.main-title{
  padding-left: 3px;
}

.header-menu-text {
  vertical-align: middle;
  display: inline-block;
  padding-left: 5px;
}
.button-dangerous {
  background: rgb(202, 60, 60); /* this is a maroon */
}
